@use "../partials/functions" as f;
@use "../partials/mixins" as m;
.button {
  // reset tous les styles par défaut grâce au mixin approprié
  @include m.resetAll;

  // appliquer les styles par défaut du composant (cf. figma)
  // padding, border-radius, background...
  display: inline-block;
  padding: f.rem(10) f.rem(16);
  border-radius: f.rem(6);

  font-size: f.rem(16);
  font-weight: 600;
  line-height: f.rem(18);

  // par défaut : background noir et texte en blanc (ajouter ces couleurs au framework)
  background-color: var(--black);
  color: var(--white);
  transition: background-color 0.3s;
  cursor: pointer;
  // par défaut, au survol : background --black-hover (20% plus clair)
  &:hover {
    background-color: var(--black-hover);
  }
  /* classes modificatrices de couleur */

  &--primary {
    background-color: var(--blue);
    &:hover {
      background-color: var(--blue-hover);
    }
  }

  &--secondary {
    background-color: var(--grey);
    &:hover {
      background-color: var(--grey-hover);
    }
  }

  &--danger {
    background-color: var(--red);
    &:hover {
      background-color: var(--red-hover);
    }
  }

  /* classes modificatrices de taille */
  &--lg {
    padding: f.rem(16) f.rem(24);
  }

  &--sm {
    font-size: f.rem(14);
    line-height: f.rem(16);
    padding: f.rem(8) f.rem(12);
  }
}
