@use "../partials/functions" as f;
.card {
  width: f.rem(320);
  border-radius: f.rem(6);
  border: solid thin var(--lightgrey);
  padding: f.rem(20);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: f.rem(10);
  align-items: flex-start;
  background-color: var(--bg-color);
  color: var(--text-color);
  &__image {
    display: block;
    width: f.rem(320);
    max-width: unset;
    margin-block: f.rem(-20) f.rem(10);
    margin-inline: f.rem(-20);
    aspect-ratio: 320/200;
    object-fit: cover;
  }
  &__title {
    font-size: f.rem(20);
    line-height: f.rem(24);
    font-weight: 600;
    margin-block: 0;
  }
  &__text {
    margin-block: 0;
    font-size: f.rem(16);
    line-height: f.rem(24);
  }
}
