@use "fonts" as f;
@use "variables" as v;
@use "sass:color";
@layer base {
  :root {
    --spacing: #{v.$spacing};

    @each $name, $value in v.$colors {
      --#{$name}: #{$value};
      @if ($name == "black") {
        --#{$name}-hover: #{color.scale($value, $lightness: 20%)};
      } @else {
        --#{$name}-hover: #{color.scale($value, $lightness: -20%)};
      }
    }

    @each $colorName, $colorValue in v.$colors {
      $hue: color.channel($colorValue, "hue", hsl);
      $saturation: color.channel($colorValue, "saturation", hsl);
      $lightness: color.channel($colorValue, "lightness", hsl);

      // parcourir la map des $shades
      $previousPercent: 0%;
      @each $code, $percent in v.$shades {
        @if ($previousPercent < $lightness and $lightness < $percent) {
          --#{$colorName}-#{$code}: hsl(#{$hue}, #{$saturation}, #{$lightness}); /* original */
          @debug $colorName, $code;
        } @else {
          --#{$colorName}-#{$code}: hsl(#{$hue}, #{$saturation}, #{$percent});
        }
        $previousPercent: $percent;
      }
    }

    /* variables couleurs agnostiques (serait bien de les générer avec sass... */
    --text-color: var(--black-hover); // nom de variable bizarre !! On fait avec ce qu'on a :)
    --bg-color: var(--white);

    @media (prefers-color-scheme: dark) {
      --text-color: var(--white);
      --bg-color: var(--black-hover);
    }
  }

  body {
    font-family: f.$mainFont;
    background-color: var(--bg-color);
    color: var(--text-color);
    &.halloween {
      --text-color: var(--black); // nom de variable bizarre !!
      --bg-color: orange;
    }
    &[data-theme="dark"] {
      --text-color: var(--white); // nom de variable bizarre !!
      --bg-color: var(--black-hover);
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
