@use "variables" as v;
$positions: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);
@layer utilities {
  @for $i from 0 through 6 {
    $val: calc($i * var(--spacing));
    .p--#{$i} {
      padding: $val;
    }
    .m--#{$i} {
      margin: $val;
    }
    @each $letter, $value in $positions {
      .p#{$letter}--#{$i} {
        padding-#{$value}: $val;
      }
      .m#{$letter}--#{$i} {
        margin-#{$value}: $val;
      }
    }
  }
  @each $name, $value in v.$colors {
    .bg-#{$name} {
      background-color: var(--#{$name});
    }
    .border-#{$name} {
      border-color: var(--#{$name});
    }
    .color-#{$name} {
      color: var(--#{$name});
    }
  }
}
