$spacing: 0.25rem;

$colors: (
  "red": #dc3545,
  "grey": #6c757d,
  "blue": #0d6efd,
  "black": #000,
  "white": #fff,
  "lightgrey": #e5e5e5,
);

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);
