$spacing: 0.25rem;

$colors: (
  "red": #dc3545,
  "grey": #6c757d,
  "blue": #0d6efd,
  "black": #000,
  "white": #fff,
  "lightgrey": #e5e5e5,
);

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

$shades: (
  950: 12%,
  900: 20%,
  800: 28%,
  700: 35%,
  600: 50%,
  500: 60%,
  400: 71%,
  300: 82%,
  200: 90%,
  100: 95%,
  50: 98%,
);
